<!-- Contact Start -->
<div class="container-xxl contact py-5">
    <div class="container">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="fs-5 fw-medium fst-italic text-primary">Register</p>
            <h1 class="display-6">If You Have Any Query, Please Contact Us.</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="mb-4">Sign up to create park reviews</h3>
                <p class="mb-4">Fill the form below to create an acount and review various parks.</p>
                <form action="/signup" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                            <label for="name">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                            <label for="email">Your Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="tel" name="phone" class="form-control" id="phone" placeholder="Your Phone">
                            <label for="phone">Your Phone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                            <label for="password">Password</label>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Sign Up</button>
                        </div>
                    </form>
              <h3 class="mb-4">{{.}}</3>
            </div>
        </div>
    </div>
</div>
